.cblock {
	width: 60%;
	height: fit-content;
	padding: 4px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	align-items: center;
}

.box {
	border: 1px solid #000;
}

.c1 {
	width: fit-content;
	box-sizing: border-box;
	align-items: center;
	align-content: center;
}

.p {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.57;
}

.h1 {
	font-family: 'Georgia', serif;
}

.col {
	float: left;
}

.header {
	display: flex;
	align-items: center;
	position: relative;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
