.box {
	border: 1px solid #000;
	border-radius: 0px;
	box-sizing: border-box;
	height: fit-content;
	padding: 4px;
	margin: 4px;
}

.c1 {
	width: fit-content;
	box-sizing: border-box;
	align-items: center;
	align-content: center;
}

.p {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.57;
}

.h1 {
	font-family: serif, 'Georgia';
}

.col {
	width: fit-content;
	margin: auto;
}
